<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>org.conv.servlets.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignIn</servlet-name>
  	<display-name>SignIn</display-name>
  	<description></description>
  	<servlet-class>org.conv.servlets.SignIn</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignUp</servlet-name>
  	<display-name>SignUp</display-name>
  	<description></description>
  	<servlet-class>org.conv.servlets.SignUp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PasswordMismatch</servlet-name>
  	<display-name>PasswordMismatch</display-name>
  	<description></description>
  	<servlet-class>org.conv.servlets.PasswordMismatch</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WrongLoginOrPassword</servlet-name>
  	<display-name>WrongLoginOrPassword</display-name>
  	<description></description>
  	<servlet-class>org.conv.servlets.WrongLoginOrPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InvalidLogin</servlet-name>
  	<display-name>InvalidLogin</display-name>
  	<description></description>
  	<servlet-class>org.conv.servlets.InvalidLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InvalidPassword</servlet-name>
  	<display-name>InvalidPassword</display-name>
  	<description></description>
  	<servlet-class>org.conv.servlets.InvalidPassword</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserExist</servlet-name>
  	<display-name>UserExist</display-name>
  	<description></description>
  	<servlet-class>org.conv.servlets.UserExist</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SuccesfullRegistr</servlet-name>
  	<display-name>SuccesfullRegistr</display-name>
  	<description></description>
  	<servlet-class>org.conv.servlets.SuccesfullRegistr</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogOut</servlet-name>
  	<display-name>LogOut</display-name>
  	<description></description>
  	<servlet-class>org.conv.servlets.LogOut</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Change</servlet-name>
  	<display-name>Change</display-name>
  	<description></description>
  	<servlet-class>org.conv.servlets.Change</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Convert</servlet-name>
  	<display-name>Convert</display-name>
  	<description></description>
  	<servlet-class>org.conv.servlets.Convert</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Profile</display-name>
  	<servlet-name>Profile</servlet-name>
  	<servlet-class>org.conv.servlets.Profile</servlet-class>
  </servlet>
	<servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignIn</servlet-name>
  	<url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignUp</servlet-name>
  	<url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PasswordMismatch</servlet-name>
  	<url-pattern>/PasswordMismatch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WrongLoginOrPassword</servlet-name>
  	<url-pattern>/WrongLoginOrPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InvalidLogin</servlet-name>
  	<url-pattern>/InvalidLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InvalidPassword</servlet-name>
  	<url-pattern>/InvalidPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserExist</servlet-name>
  	<url-pattern>/UserExist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SuccesfullRegistr</servlet-name>
  	<url-pattern>/SuccesfullRegistr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogOut</servlet-name>
  	<url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Change</servlet-name>
  	<url-pattern>/Change</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Convert</servlet-name>
  	<url-pattern>/Convert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Profile</servlet-name>
  	<url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <session-config>
  	<session-timeout>-1</session-timeout></session-config>
</web-app>